/* 
    Document   : assign2
    Created on : 11-Apr-2016, 12:56:19 AM
    Author     : nischay
    Description:
        Purpose of the stylesheet follows.
*/
a{
    text-decoration:none;
    color: inherit;
    padding-top:18px;
    padding-bottom:18px;
 
}
li{
    list-style-type:none;
}
html, body {
    margin: 0;
    padding: 0;
    font-family:"calibri", Garamond, 'Comic Sans';
}
ul.navigation li:hover{
    background-color:#ff8000;
    color:white;
}
.navigation
{
    order-list-type: none;
    text-align: center;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:200px;
}
.navigation li:last-child{
    margin-right:150px;
}
.navigation li:first-child{
    margin-left:500px;
}
.navigation li
{
    margin-top: 0px;
    margin-bottom: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    top:-25px;
    font-size: 18px;
    float:left;
    margin-right:35px;
    color: #aaaaaa;
    font-weight:600;
    l
    
}


.topheader
{
    width: 100%;
    height: 50px;
    background-color:#444444;
    
    
}



.banner
{
    width:100%;
    height:485px;
    background-color: #71c4ea;
    margin: 0;
    padding: 0;
}

h1
{
    font-size: 36px;
    text-align: center;
    color:#444444;
    margin-top: 64px;
    margin-bottom: 70px;
    position:relative;
}

.circle
{
    background-color: #efefef;
    height: 140px;
    width: 140px;
    border-radius: 70px;
    margin-left: 75px;
    
}

.span4
{
    margin-left:75px;
    float:left;
    
}
.p1
{

    margin-top: 40px;
    margin-bottom: 6px;
    margin-left: 75px;
    float:left;
    width:140px;
    text-align:center; 
    color:#888888;   
}

.p1:hover{
    color:black;
}
.circle:hover
{
    background-color:	#808080;
}
.container
{
    
    text-align:center;
    margin-left:300px;
    margin-right:200px;
    
    position:relative;
}

.footer
{
    width: 100%;
    height: 50px;
    background-color: #ECECEC;
    

}
.footer
{
    margin-top:400px;
}
.footerlist li:hover
{
   
    color:black;
}
.footerlist
{
    order-list-type: none;
    text-align: center;
    margin-top: 300px;
}

.footerlist li:first-child{
    margin-left:700px;
}
.footerlist li
{
    float:left;
    font-size: 16px;
    margin-top: 0px;
    padding-top: 16px;
    margin-left: 75px;
    color: #ff8000;
    font-weight:600;
}


